
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1></h1>
            <div class="col-md-6 offset-md-3 border border-dark"><br><br>
                <h3 class="fons"> User login Form</h3><br>
                <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">User Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div><br><br>
                    <div class="form-group">
                        <section>
                            <div class="example-button-row">
                                <div class="row">
                                <div class="col-md-8">
                                <button mat-raised-button color="accent" routerLink="/Login">Login</button>
                                </div>
                                <div class="col-md-4">
                                <button mat-raised-button color="warn" routerLink="/Forgotpassword">Forgot password</button>
                                </div>
                            </div>
                            </div>
                        </section>
                    </div><br>
                </form>
            </div>
        </div>
    </div>
  </div>
  
  
